html {
    overflow-x: hidden;
}

body {
  position: relative;
  background-image: url(../Assets/back1.png);
  background-repeat: no-repeat;
  background-size: 96vw;
  background-position: 5vw -2.5vw;

}

img.logo {
  display: inline;
  text-align: center;
  width: 5vw;
}

h5.logo-text {
  display: inline;
  font-size: 3.5vw;
  font-family: bebas-neue-by-fontfabric, sans-serif;
  font-weight: 300;
  font-style: normal;
}

h3.wel {
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 2vw;
  font-family: bebas-neue-by-fontfabric, sans-serif;
  font-weight: 300;
  font-style: normal;
}

h1.wel {
  margin-top: 0;
  padding-top: 0;
  font-size: 6vw;
  font-family: bebas-neue-by-fontfabric, sans-serif;
  font-weight: 300;
  font-style: normal;
}

button {
  font-size: 2.4vw;
  font-family: bebas-neue-by-fontfabric, sans-serif;
  font-weight: 200;
  font-style: normal;
  color: white;
  background-color: #3DB9FC;
  text-align: center;
  border: none;
  padding: 0.30vw;
  padding-right: 3vw;
  padding-left: 3vw;
  border-radius: 3vw;
  cursor: pointer;
}

img.bot {
  margin-top: 10vw;
  width: 76vw;
}

img.bot-ring {
  margin-left: 24vw;
  margin-top: -9.5vw;
  width: 29vw;
}

#logo {
  padding: 3vw;
  padding-left: 5.5vw;
}

#welcome {
  position: absolute;
  padding: 2vw;
  margin-left: 10vw;
}

#mess-bot {
  height: 39vw;
}

#bot {
  position: relative;
  margin-left: 34vw;
}
