body {
  background-image: url(../Assets/back1.png);
  background-repeat: no-repeat;
  background-size: 96vmax;
  background-position: 5vmax -2.5vmax;
  overflow-x: hidden;
}

img.logo {
  display: inline;
  text-align: center;
  width: 5vmax;
}

h5.logo-text {
  display: inline;
  font-size: 3.5vmax;
  font-family: bebas-neue-by-fontfabric, sans-serif;
  font-weight: 300;
  font-style: normal;
}

h3.wel {
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 2vmax;
  font-family: bebas-neue-by-fontfabric, sans-serif;
  font-weight: 300;
  font-style: normal;
}

h1.wel {
  margin-top: 0;
  padding-top: 0;
  font-size: 6vmax;
  font-family: bebas-neue-by-fontfabric, sans-serif;
  font-weight: 300;
  font-style: normal;
}

button {
  font-size: 2.4vmax;
  font-family: bebas-neue-by-fontfabric, sans-serif;
  font-weight: 200;
  font-style: normal;
  color: white;
  background-color: #3DB9FC;
  text-align: center;
  border: none;
  padding: 0.30vmax;
  padding-right: 3vmax;
  padding-left: 3vmax;
  border-radius: 3vmax;
  cursor: pointer;
}

img.bot {
  margin-top: 10vmax;
  width: 76vmax;
}

img.bot-ring {
  margin-left: 24vmax;
  margin-top: -9.5vmax;
  width: 29vmax;
}

#logo {
  padding: 3vmax;
  padding-left: 5.5vmax;
}

#welcome {
  position: absolute;
  padding: 2vmax;
  margin-left: 10vmax;
}

#mess-bot {
  height: 39vmax;
}

#bot {
  position: relative;
  margin-left: 34vmax;
}
