html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
  position: relative;
  background-attachment: fixed;
}

img.backgrd {
  width: 96vw;
  text-align: right;
}

img.logo {
  display: inline;
  text-align: center;
  width: 5vw;
}

h5.logo-text {
  display: inline;
  font-size: 3.5vw;
  font-family: bebas-neue-by-fontfabric, sans-serif;
  font-weight: 300;
  font-style: normal;
}

h3.wel {
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 2vw;
  font-family: bebas-neue-by-fontfabric, sans-serif;
  font-weight: 300;
  font-style: normal;
}

h1.wel {
  margin-top: 0;
  padding-top: 0;
  font-size: 6vw;
  font-family: bebas-neue-by-fontfabric, sans-serif;
  font-weight: 300;
  font-style: normal;
}

button.wel {
  font-size: 2.4vw;
  font-family: bebas-neue-by-fontfabric, sans-serif;
  font-weight: 200;
  font-style: normal;
  color: white;
  background-color: #3DB9FC;
  text-align: center;
  border: none;
  padding: 0.30vw;
  padding-right: 3vw;
  padding-left: 3vw;
  border-radius: 3vw;
}

button.wel span.wel {
  cursor: pointer;
  transition: 0.5s;
}

button.wel:hover span.wel {
  padding-left: 2vw;
  padding-right: 2vw;
}

img.bot {
  margin-top: 10vw;
  width: 76vw;
}

img.bot-ring {
  margin-left: 24vw;
  margin-top: -9.5vw;
  width: 29vw;
}

.logo-static {
  display: inline;
  text-align: center;
  width: 60px;
}

a.logo-text-static {
  color: white;
  display: inline;
  font-size: 30px;
  font-family: bebas-neue-by-fontfabric, sans-serif;
  font-weight: 300;
  font-style: normal;
  margin-left: 2rem;
}

img.discord {
  width: 40px;
  margin-right: 1rem;
}

a.discord {
  color: white;
}

a.discord:hover {
  color: #007bff;
}



#backgrd {
  text-align: right;
  position: absolute;
  min-height: 76vw;
  background-image: url(../Assets/back1.png);
  background-repeat: no-repeat;
  background-size: 96vw;
  background-position: 5vw -2.5vw;
  background-attachment: fixed;
  z-index: -1;
}

#logo {
  padding: 3vw;
  padding-left: 5.5vw;
}

#welcome {
  position: absolute;
  padding: 2vw;
  margin-left: 10vw;
  margin-bottom: 1vw;
}

#bot {
  position: relative;
  margin-left: 34vw;
}

#mess-bot {
  height: 40vw;
}

#nav {
  margin-top: 25vw;
  position: sticky;
  top: 0;
  z-index: 1;
}

#nav-right {

}

#navA {
  margin: 0px 40px;
  font-size: 24px;
  font-family: bebas-neue-by-fontfabric, sans-serif;
  font-weight: 400;
  font-style: normal;
}

#project-card {
  margin: 2rem 2rem;
  border: none;
}

#project {
  min-height: 1000px;
  margin-top: 12rem;
  padding: 0rem 0rem;
}

#project-card-group {
  margin: -6rem;
}

#project-img {
  max-width: 20rem;
  margin-left: auto;
  margin-right: auto;
}

#about-img {
  border: none;
}

#about-cards {
  border: none;
}

#about-card-body {

}

#about-card {
  background-color: #DA9EF2;
  margin-bottom: 2rem;
  margin-left: 10rem;
  border-radius: 2rem;
  max-width: 30rem;
  max-height: 15rem;
}
